@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

img {
  display: block;
}

.title-1 {
  color: var(--text-color);
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include mediaTablet {
    font-size: 52px;
  }

  @include mediaMobile {
    font-size: 32px;
  }

  @include mediaMobileXS {
    font-size: 26px;
  }
}

.title-3 {
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include mediaMobile {
    font-size: 28px;
  }
}

.title-4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.muted {
  color: var(--text-muted);
}

.accent{
  color: var(--accent);
}

.text {
  color: var(--color-text);
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%;

  p + p {
    margin-top: 1em;
  }

  @include mediaMobile {
    font-size: 16px;
  }
}
