:root {
  --container-width: 1230px;
  --container-padding: 15px;

  --font-main: 'Aboreto', cursive;;

  --page-bg: #1A2D2F;
  --text-color: #F3EEDF;
  --text-muted: #5E675D;
  --accent: #A86747;
}

// .dark {
//   --page-bg: #252526;
//   --text-color: #F3EEDF;
// }
