.btn-login {
  height: 40px;
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  border-radius: 8px;
  color: var(--page-bg);
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%;
  background: var(--text-color);
  border: 1px solid var(--text-color);

  transition: all 0.1s ease-in;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
