.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  .logo {
    flex-shrink: 0;

    img{
    width: 150px;
    height: 40px;
    }
    
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  
    a {
      color: var(--text-color);
    }
  
    a:hover,
    a.active {
      color: var(--accent);
    }
  
    @include mediaTablet {
      display: none;
    }
  }
  
  &__btns {
    display: flex;
    gap: 12px;
  
    @include mediaTablet {
      display: none;
    }
  }
  
  &__icon {
    display: none;
  
    @include mediaTablet {
      display: block;
    }
  }
}


