.popular {
  padding: 60px 0;

  &__title {
    display: grid;
    gap: 16px;

    @include mediaMobile {
      gap: 8px;
    }
  }

  &__controls {
    display: flex;
    gap: 15px;
    flex-shrink: 0;
  }

  &__top {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include mediaMobileS {
      flex-direction: column;
    }
  }
}
